/build/*
.gradle/*
.idea/**
*.iml
.DS_Store
logs/*
*Thumbs.db*
working_dir/*
gradle.properties
out/

**/__Previews/**
**/Gerber/**
**/History/**
**/Project Logs*/**
**/Project Outputs*/**
altium/Wifi Relay/IDFReport_PCB1.html
